.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

.racer_table td.active{
  background-color: black;
}

.racer_table{
  margin:auto;
  margin-top: 50px;
}

.racer_table td{
  width: 25px;
  height: 25px;
  background-color: gray;
}
